---
layout: default.njk
seoTitle: Add a beer
---

<h1>Add a Beer</h1>

<form class="form" method="get" action="/.netlify/functions/parse-review-url">
	<div class="field">
		<label for="token">Token</label>
		<input type="text" name="token" id="token">
	</div>
	<div class="field">
		<label for="url">URL</label>
		<input type="text" name="url" id="URL">
	</div>
	<button type="submit" class="button">Add</button>
</form>
