---
layout: default.njk
seoTitle: Beers
intro: A list of all the beers
---

<h1>Beers</h1>

<table>
	<tr>
		<th></th>
		<th>Image</th>
		<th>Beer</th>
		<th>Breweries</th>
		<th>Score</th>
	</tr>
	{% for beer in collections.beer %}
	<tr>
		<td>{{ beer.data.number }}</td>
		<td width="50"><a href="{{ beer.url }}" title="{{ beer.data.brewedBy }} - {{ beer.data.title }}" class="secret"><img src="{{ beer.data.thumbnailPath }}" width="50" height="50" loading="lazy" alt="{{ beer.data.brewedBy }} - {{ beer.data.title }}">
		</a></td>
		<td><a href="{{ beer.url }}" title=""><strong>{{ beer.data.title }}</strong></a></td>
		<td>
		{% for brewery in beer.data.breweries %}
			<a href="{{ brewery.url }}" class="brewery">{{ brewery.data.title }}</a>{{ ", " if not loop.last else "" }}
		{% endfor %}
		</td>
		<td><span class="rating">{{ beer.data.rating }}</span></td>
	</tr>
	{% endfor %}
</table>

<script>
const getCellValue = (tr, idx) => tr.children[idx].innerText || tr.children[idx].textContent;

const comparer = (idx, asc) => (a, b) => ((v1, v2) =>
	v1 !== '' && v2 !== '' && !isNaN(v1) && !isNaN(v2) ? v1 - v2 : v1.toString().localeCompare(v2)
	)(getCellValue(asc ? a : b, idx), getCellValue(asc ? b : a, idx));

// do the work...
document.querySelectorAll('th').forEach(th => th.addEventListener('click', (() => {
	const table = th.closest('table');
	Array.from(table.querySelectorAll('tr:nth-child(n+2)'))
		.sort(comparer(Array.from(th.parentNode.children).indexOf(th), this.asc = !this.asc))
		.forEach(tr => table.appendChild(tr) );
})));
</script>
