---
layout: beerlist.njk
eleventyComputed:
  seoTitle: "{% if pagination.pageNumber %}Page {{ (pagination.pageNumber + 1) }} of Beer reviews{% endif %}"
  description: "{% if pagination.pageNumber %}Page {{ (pagination.pageNumber + 1) }} of {% endif %}Beer reviews. Honest reviews of beers from Mike Street"
pagination:
  data: collections.beer
  size: 39
  reverse: true
---
