---
permalink: site.webmanifest
sitemapIgnore: true
---
{
	"lang": "en",
	"name": "{{ meta.site.title }}",
	"short_name": "{{ meta.site.title }}",
	"orientation": "portrait",
	"start_url": "/",
	"display": "standalone",
	"background_color": "#ffffff",
	"theme_color": "{{ meta.themeColour }}",
	"icons": [
		{
			"src": "/assets/img/favicon_192.png",
			"sizes": "192x192",
			"type": "image/png",
			"purpose": "any maskable"
		},
		{
			"src": "/assets/img/favicon_512.png",
			"sizes": "512x512",
			"type": "image/png",
			"purpose": "any maskable"
		}
	]
}
