---
permalink: /sitemap-breweries.xml
sitemapIgnore: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9" xmlns:xhtml="http://www.w3.org/1999/xhtml">
{%- for item in collections.brewery %}
	<url>
		<loc>{{ meta.site.url }}{{ item.url }}</loc>
		<lastmod>{{ item.date | dateISOShort }}</lastmod>
		<changefreq>monthly</changefreq>
		<priority>0.5</priority>
	</url>
{%- endfor %}
</urlset>
