---
permalink: api/breweries.json
sitemapIgnore: true
---
[
	{% for brewery in collections.brewery %}
	{
		"title": "{{ brewery.data.title }}",
		"beers": [
			{% for beer in brewery.data.beers %}
			{
				"title": "{{ beer.data.title }}",
				"rating": "{{ beer.data.rating }}",
				"date": "{{ beer.data.date | dateLong }}",
				"slug": "{{ beer.url }}"
			}{% if not loop.last %},{% endif %}
			{% endfor %}
		],
		"mean": "{{ brewery.data.stats.mean }}",
		"median": "{{ brewery.data.stats.median }}",
		"slug": "{{ brewery.url }}"
	}{% if not loop.last %},{% endif %}
	{% endfor %}
]
