---
layout: default.njk
---
<main id="beers">
	<ul class="list">
		{% for beer in pagination.items %}
			{% include 'beer.njk' %}
		{% endfor %}
	</ul>

	<nav class="pagination">
		{% if pagination.href.next %}
		<a class="button button-small historical" rel="prev" href="{{ pagination.href.next }}">
			&lsaquo; Older
		</a>
		{% endif %}
		{% if pagination.href.previous %}
		<a class="button button-small" rel="next" href="{{ pagination.href.previous }}">
			Newer &rsaquo;
		</a>
		{% endif %}
	</nav>

</main>
