<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>{{ seoTitle }}{{ " - " if seoTitle }}{{ meta.site.title }} - {{ meta.site.description }}</title>
	<link rel="home" href="{{ meta.site.url }}/" />

	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1">

	<link rel="manifest" href="/site.webmanifest">

	<link rel="apple-touch-icon" sizes="57x57" href="/assets/img/apple-touch-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="/assets/img/apple-touch-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/assets/img/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="/assets/img/apple-touch-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/assets/img/apple-touch-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="/assets/img/apple-touch-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="/assets/img/apple-touch-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="/assets/img/apple-touch-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="/assets/img/apple-touch-icon-180x180.png">
	<link rel="icon" type="image/png" href="/assets/img/favicon_192.png" sizes="192x192">

	<link rel="canonical" href="{{ meta.site.url }}{{ page.url }}" />
	<link rel="me" href="https://hachyderm.io/@mikestreety">

	<meta name="msapplication-square70x70logo" content="/assets/img/smalltile.png" />
	<meta name="msapplication-square150x150logo" content="/assets/img/mediumtile.png" />
	<meta name="msapplication-wide310x150logo" content="/assets/img/widetile.png" />
	<meta name="msapplication-square310x310logo" content="/assets/img/largetile.png" />

	<meta name="msapplication-TileColor" content="{{ meta.themeColour }}">
	<meta name="msapplication-config" content="/browserconfig.xml">
	<meta name="theme-color" content="{{ meta.themeColour }}">

	<meta name="description" content="{{ intro if intro else description }}"/>
	<meta name="author" content="{{ meta.author }}">

	<meta property="twitter:card" content="summary_large_image">
	<meta property="twitter:site" content="@{{ meta.social.twitter }}">
	<meta property="twitter:creator" content="@{{ meta.social.twitter }}">

	<meta property="og:type" content="website">
	<meta property="og:title" property="twitter:title" content="{{ seoTitle }}{{ " - " if seoTitle }}{{ meta.site.title }} - {{ meta.site.description }}">
	<meta property="og:description" property="twitter:description" content="{{ intro if intro else description }}">
	<meta property="og:url" content="{{ meta.site.url }}{{ page.url }}">
	<meta property="og:site_name" content="{{ meta.site.title }}">
	{% if socialMediaPhoto is defined  %}
	<meta property="og:image" property="twitter:image" name="image" content="{{ socialMediaPhoto  }}">
	<meta property="og:image:width" content="1000">
	<meta property="og:image:height" content="1000">
	{% else %}
	<meta property="og:image" property="twitter:image" name="image" content="{{ meta.site.url }}/assets/img/logo.png">
	{% endif %}
	{% set count = 1 %}
	{% if rating %}
	<meta property="twitter:label{{ count }}" value="Rating">
	<meta property="twitter:data{{ count }}" value="{{ rating }}/10">
	{% set count = count + 1 %}
	{% endif %}
	{% if brewedBy %}
	<meta property="twitter:label{{ count }}" value="Brewery">
	<meta property="twitter:data{{ count }}" value="{{ brewedBy }}">
	{% set count = count + 1 %}
	{% endif %}
	{% if number %}
	<meta property="twitter:label{{ count }}" value="Number">
	<meta property="twitter:data{{ count }}" value="{{ number }}">
	{% set count = count + 1 %}
	{% endif %}
	{% if date %}
	<meta property="twitter:label{{ count }}" value="Posted">
	<meta property="twitter:data{{ count }}" value="{{ date | dateLong }}">
	{% set count = count + 1 %}
	{% endif %}
	{% if type %}
	<meta property="twitter:label{{ count }}" value="Type">
	<meta property="twitter:data{{ count }}" value="{{ type }}">
	{% set count = count + 1 %}
	{% endif %}
	{% if abov %}
	<meta property="twitter:label{{ count }}" value="ABV">
	<meta property="twitter:data{{ count }}" value="{{ abv }}">
	{% set count = count + 1 %}
	{% endif %}
	{% if beers.length %}
	<meta property="twitter:label{{ count }}" value="Beers posted">
	<meta property="twitter:data{{ count }}" value="{{ beers.length }}">
	{% set count = count + 1 %}
	{% endif %}
	{% if stats.mean %}
	<meta property="twitter:label{{ count }}" value="Average score">
	<meta property="twitter:data{{ count }}" value="{{ stats.mean }}">
	{% set count = count + 1 %}
	{% endif %}
	{% if stats.median %}
	<meta property="twitter:label{{ count }}" value="Median score">
	<meta property="twitter:data{{ count }}" value="{{ stats.median }}">
	{% set count = count + 1 %}
	{% endif %}
	<!-- Coil -->
	<meta name="monetization" content="$ilp.uphold.com/R6wFMN3kXQbL">

	<link rel="preload" href="/assets/css/style.css" as="style">
	<link rel="preload" href="/assets/fonts/poppins-v8-latin-700.woff2" as="font" type="font/woff2" crossorigin>

	<link rel="stylesheet" href="/assets/css/style.css">

	<script>
	if ('serviceWorker' in navigator) {
		navigator.serviceWorker.register('/sw.js?1');
	}
	</script>
</head>

<body {% if bodyclass is defined %}class="{{ bodyclass }}"{% endif %}>
	<div class="site" id="site" data-display="list">
		<header>
			<a href="/">
				<svg width="140" height="143" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 143"><g fill="none" fill-rule="evenodd"><ellipse fill="#4A90BE" cx="70" cy="71.5" rx="70" ry="71.5" /><g fill-rule="nonzero"><path d="M99.94 52c-1.03-.33-12.755-3.791-22.933-3.791-10.146 0-21.902 3.461-22.933 3.791-.258-7.978.129-15.165 1.643-19.484 0 0 9.47-4.516 21.29-4.516 11.821 0 21.29 4.516 21.29 4.516C99.78 36.802 100.167 43.99 99.94 52" fill="#C7A36C" /><path d="M92.945 50.395c-2.622-.538-5.633-1.076-8.709-1.413-4.565-.941-9.55.337-14.86.337-4.597 0-10.198.874-14.374 1.681-.033-6.557.42-14.728 1.683-18.393 0 0 9.518-4.607 21.4-4.607 3.69 0 7.122.437 10.133 1.042 1.91.707 2.979 1.245 2.979 1.245 1.521 4.472 1.975 11.836 1.748 20.108" fill="#FFFBED" /><path d="M60.912 101.943c.646 6.24.904 12.146 1.033 15.668.065 1.88 1.648 3.389 3.586 3.389h24.873c1.939 0 3.522-1.476 3.586-3.389.13-3.657.42-9.897 1.13-16.406.615-5.57 5.686-42.81 5.88-48.313v-.034C99.966 52.523 88.208 49 78 49c-10.176 0-21.966 3.523-23 3.858v.034c.13 5.536 5.298 43.448 5.912 49.051" fill="#F78F2D" /><path d="M60.926 101.796c.652 6.259.912 12.18 1.042 15.714a3.52 3.52 0 0 0 1.173 2.49H82.32c1.953 0 3.549-1.48 3.614-3.399.13-3.667.423-9.926 1.14-16.454.618-5.586 5.73-42.937 5.926-48.455v-.034c-.651-.202-5.34-1.581-11.201-2.658-3.322.336-9.9.74-16.737 1.11-5.34 1.01-9.476 2.255-10.062 2.423v.034c.098 5.586 5.308 43.61 5.926 49.229" fill="#FDBB41" /><path d="M54.362 55c-.585 0-1.138-.422-1.3-1.055-.228-.774.195-1.618.91-1.865.52-.175 12.706-4.08 23.528-4.08s23.008 3.94 23.528 4.08c.715.247 1.138 1.056.91 1.865-.227.774-.975 1.23-1.722.985-.13-.036-12.317-3.975-22.748-3.975-10.4 0-22.619 3.94-22.749 3.975a1.09 1.09 0 0 1-.357.07" fill="#2F2C3D" /><path d="M90.022 122h-24.99c-2.694 0-4.868-2.073-4.965-4.715-.13-3.41-.422-9.998-1.169-16.82l-.097-.735C57.697 89.598 55.296 80 54.29 69.802c-1.006-10.199-2.532-28.59.486-37.285.13-.367.39-.635.714-.802.39-.2 9.964-4.715 22.037-4.715 12.073 0 21.648 4.548 22.037 4.715.325.167.584.435.714.802 3.018 8.728 1.33 27.253.454 37.552-.843 9.898-2.985 19.863-4.478 29.761l-2.727-.334c1.493-9.932 3.603-19.696 4.48-29.761 1.46-16.586 1.784-29.493-.13-35.713-2.143-.936-10.451-4.213-20.35-4.213-9.93 0-18.207 3.31-20.349 4.213-1.882 6.186-1.947 19.027-.162 35.445 1.006 10.2 2.92 19.63 4.414 29.427.032.167.065.334.065.501v.1c.032.235.065.435.065.67.714 6.553 1.038 12.84 1.2 17.053.033 1.137 1.006 2.007 2.207 2.007h24.99c1.201 0 2.175-.87 2.207-2.007.163-4.347.487-10.9 1.266-17.689l2.726.334c-.811 7.056-1.136 13.978-1.265 17.456 0 2.608-2.175 4.681-4.869 4.681" fill="#2F2C3D" /><path d="M72.806 50a90.547 90.547 0 0 0-4.806.745c.46 7.718 1.12 14.928 1.58 20.31.198 2.404 4.642 2.776 4.411 0C73.4 64.048 73.037 56.67 72.806 50m-6.965 2a97.64 97.64 0 0 0-2.841.594l1.333 18.623c.175 2.443 2.736 2.31 2.666 0-.14-5.481-.667-12.514-1.158-19.217" fill="#F78F2E" /><path d="M72.99 70.103c-.882-10.9-1.186-22.596-1.369-31.103-1.611.399-3.162.83-4.621 1.296.334 11.132 1.307 22.264 1.915 29.807.213 2.326 4.318 2.725 4.075 0m-7.991 1.079c-.182-8.28-1.121-20.161-1.545-29.182-.879.337-1.727.673-2.454.976l1.696 28.206c.152 2.49 2.363 2.356 2.303 0" fill="#FFF" /><path d="M72 51.217A687.36 687.36 0 0 1 71.69 39c-1.615.374-3.2.85-4.659 1.327 0 .136-.031.272-.031.409.124 3.811.31 7.589.528 11.264A96.667 96.667 0 0 1 72 51.217" fill="#FFF" /><path d="M74.258 56.769c-3.443-5.981-6.48-33.908-6.48-33.908H53.763s-3.038 27.967-6.48 33.908c-3.402 5.9-4.618 11.437-4.375 20.935.162 7.274.77 34.878 1.013 46.355.081 2.789 2.35 5.052 5.144 5.052h23.328c2.795 0 5.104-2.223 5.144-5.052.243-11.477.85-39.08 1.013-46.355.283-9.498-.932-15.075-4.293-20.935" fill="#F78F2D" /><path d="M63.064 22.861h-9.308S50.72 50.828 47.28 56.77c-3.4 5.9-4.613 11.437-4.37 20.935.161 7.274.768 34.878 1.011 46.355.081 2.789 2.348 5.052 5.14 5.052h18.657c2.793 0 5.1-2.223 5.14-5.052.243-11.477.85-39.08 1.012-46.355.203-9.498-1.012-15.035-4.37-20.935-3.4-5.981-6.436-33.908-6.436-33.908" fill="#FDBB41" /><path d="M42.895 77.796c.08 4.214.323 15.116.566 25.815H78.01c.243-10.699.486-21.6.567-25.815.04-2.513 0-4.742-.162-6.768H43.016c-.121 2.026-.162 4.255-.121 6.768" fill="#A78B6B" /><path d="M42.93 77.796l.04 1.58v.567c.122 5.107.324 14.469.526 23.668h29.815c.243-10.699.485-21.6.566-25.815.04-2.513 0-4.742-.162-6.768H43.052a71.877 71.877 0 0 0-.162 6.079v.526l.04.163z" fill="#FFF" /><path d="M72.037 131H48.955c-3.727 0-6.852-3.077-6.933-6.841l-1.001-46.432c-.2-9.716 1.041-15.666 4.568-21.9 2.645-4.615 5.33-25.585 6.171-33.236.08-.93.882-1.619 1.803-1.619h13.865c.922 0 1.684.688 1.804 1.62.841 7.69 3.526 28.62 6.17 33.234 3.567 6.235 4.81 12.185 4.57 21.9l-1.003 46.433c-.08 3.764-3.205 6.841-6.932 6.841zM55.167 24.575c-.722 6.477-3.327 27.568-6.452 33.033-3.246 5.667-4.288 10.93-4.088 19.997l1.002 46.432c.04 1.781 1.523 3.239 3.286 3.239h23.082c1.763 0 3.246-1.458 3.286-3.239l1.002-46.432c.2-9.108-.882-14.33-4.088-19.997-3.126-5.465-5.69-26.556-6.452-33.033H55.166z" fill="#2F2C3D" /><path d="M66.132 13.889H55.808a4.466 4.466 0 0 0-4.47 4.486v4.486h19.264v-4.486a4.466 4.466 0 0 0-4.47-4.486" fill="#FFFBED" /><path d="M65.686 13.889h-6.83c2.465 0 4.446 1.998 4.446 4.486v4.486h6.83v-4.486c0-2.488-1.98-4.486-4.446-4.486" fill="#C7A36C" /><path d="M70.213 24.75H51.257c-1 0-1.8-.823-1.8-1.85v-4.525c0-3.537 2.8-6.375 6.2-6.375h10.157c3.439 0 6.198 2.879 6.198 6.375v4.524c0 1.028-.8 1.851-1.8 1.851zm-17.156-3.743h15.316v-2.632c0-1.48-1.16-2.673-2.6-2.673H55.617c-1.44 0-2.6 1.192-2.6 2.673v2.632h.04zm14.746 6.104H53.197c-.52 0-.92-.41-.92-.944 0-.493.4-.945.92-.945h14.606c.48 0 .92.41.92.945 0 .533-.4.944-.92.944" fill="#2F2C3D" /></g></g></svg>
				<h1>Ale<br>House<br>Rock</h1>
			</a>
		</header>

		<main class="content">
			<aside class="filters">
				<form action="/search/" method="get">
					<input type="search" name="q" placeholder="Search for a beer" class="input" id="searchbox">
					<input type="submit" value="Search" class="button">
				</form>

				<label for="brewery">Select Brewery</label>
				<select class="brewerySearch" id="brewery" onchange="jumpto(this)">
					<option value="">Select Brewery</option>{% for brewery in collections.sortedBreweries %}{% if brewery.data.beers.length > 1 %}
					<option value="{{ brewery.url }}">{{ brewery.data.title }} ({{ brewery.data.beers.length }})</option>{% endif %}{% endfor %}
				</select>
				<div class="displayType">
					<button class="displayList" onclick="changeDisplay('list')"><span>≣</span> List</button>
					<button class="displayGrid" onclick="changeDisplay('grid')"><span>⩩</span> Grid</button>
				</div>
			</aside>
			{{ content | safe }}
		</main>

		<footer class="footer">
			<div class="container">
				<p><a href="/stats/">Stats</a> | <a href="/breweries/">View all breweries</a> | <a href="/beers/">View all beers</a> | <a href="/rss">RSS Feed</a></p>
				<p><a class="h-card" rel="me" href="{{ meta.site.url }}">{{ meta.site.title }}</a> is made & reviewed by <a class="h-card" rel="me" href="https://www.mikestreety.co.uk">Mike Street</a> | View the code on <a href="https://gitlab.com/mikestreety-sites/ale-house-rock">Gitlab</a></p>
			</div>
		</footer>
	</div>

	<script>
	function jumpto(item) {
		if (item.value) {
			document.location.href = item.value;
		}
	}

	function changeDisplay(type) {
		window.localStorage.setItem('displayType', type);
		document.getElementById('site').dataset.display = type;
	}

	if(window.localStorage.getItem('displayType')) {
		changeDisplay(window.localStorage.getItem('displayType'));
	}
	</script>

	<script data-schema="Organization" type="application/ld+json">{"@context":"http:\/\/schema.org","@type":"Organization","name":"Ale House Rock","url":"{{ meta.site.url }}","logo":"{{ meta.site.url }}/assets/img/logo.png"}</script>
	<script data-schema="WebSite" type="application/ld+json">{"@context":"http:\/\/schema.org","@type":"WebSite","name":"Ale House Rock","url":"{{ meta.site.url }}"}</script>

</body>
</html>
