<li>
	<a href="{{ beer.url }}" title="{{ beer.data.title }}">
		<img src="{{ beer.data.thumbnailPath }}" width="150" height="150" loading="lazy" alt="{{ beer.data.brewedBy }} - {{ beer.data.title }}">
	</a>
	<div class="content">
		<div>
		{% for brewery in beer.data.breweries %}
		<a href="{{ brewery.url }}" class="brewery">{{ brewery.data.title }}</a>{{ ", " if not loop.last else "" }}
		{% endfor %}
		</div>
		<a href="{{ beer.url }}" class="title">{{ beer.data.title }}</a>
		<div class="rating">{{ beer.data.rating }}</div>
		<div class="meta">
			<div class="number">{{ beer.data.number }} - {{ beer.data.date | dateLong }}</div>
		</div>
	</div>
</li>
